

body {
    font-family: Roboto;
    display: flex;
    flex-direction: column;
}

ul, .footer, .texto {
    font-size: 18px;
    color: #E5E7EB;
}

.header, .footer, .top {
    background-color: #1F2937;
    color: #F9FAF8;
}
.logo {
    font-size: 24px;
    font-weight: 900;
}

.titulo {
    font-size: 48px;
    font-weight: 900;
}
button, .button-top {
    background-color: #3882F6;
    color: #E5E7EB;
}   
.sing-up {
    background-color: #3882F6;
    color: #E5E7EB;
}
.titulo-page {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}
.quote {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
}